* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #4EB889;
}

.accordion {
  background-color: #004050;
  width: 250px;
  margin: 100px auto 0 auto;
  -webkit-box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
}
.accordion ul li {
  list-style: none;
}
.accordion ul li .active {
  display: block;
}
.accordion ul li h1 {
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 0 10px;
  background-color: #003040;
  background: -webkit-gradient(linear, left top, left bottom, from(#003040), to(#002535));
  background: -webkit-linear-gradient(#003040, #002535);
  background: linear-gradient(#003040, #002535);
  cursor: pointer;
  line-height: 34px;
}
.accordion ul li h1:hover {
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
.accordion ul li ul {
  display: none;
}
.accordion ul li ul li {
  list-style: none;
}
.accordion ul li ul li a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  padding: 0 15px;
  display: block;
  line-height: 27px;
}
.accordion ul li ul li a:hover {
  background: #003545;
  border-left: 5px solid lightgreen;
}
