DOCTYPE
    html
        head
            title Slider 2
            link(rel="stylesheet", href="../css/slider-2.css")
        body

            #photoshow-container
                #photoshow-wrap
                    #photoshow
                        div
                            img(src="https://dribbble.s3.amazonaws.com/users/4467/screenshots/257352/abraham-lewis.jpg", alt="")
                        div
                            img(src="https://dribbble.s3.amazonaws.com/users/4467/screenshots/245651/robot.jpg", alt="")
                        div
                            img(src="https://dribbble.s3.amazonaws.com/users/4467/screenshots/212240/brainoid.jpg", alt="")


            script(src="https://code.jquery.com/jquery-3.2.1.min.js")
            script(src="../javascript/slider-2.js")