doctype html
html
    head
        title Slider 2
        link(rel="stylesheet", href="../css/slider-2.css")
    body

        #photoshow-container
            #photoshow-wrap
                #photoshow
                    div
                        img(src="https://dribbble.s3.amazonaws.com/users/4467/screenshots/137120/shot_1301059844.jpg", alt="")
                    div
                        img(src="https://dribbble.s3.amazonaws.com/users/4467/screenshots/304344/tony-the-tiger.jpg", alt="")
                    div
                        img(src="https://dribbble.s3.amazonaws.com/users/4467/screenshots/308970/toucan-sam.jpg", alt="")


        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        script(src="../javascript/slider-2.js")